USE [master]
GO
/****** Object:  Database [FAKE_BANK]    Script Date: 5/18/2016 9:20:59 PM ******/
CREATE DATABASE [FAKE_BANK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FAKE_BANK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FAKE_BANK.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FAKE_BANK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FAKE_BANK_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FAKE_BANK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FAKE_BANK]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[BeginDate] [datetime] NOT NULL,
	[Balance] [float] NOT NULL,
	[IdAccountType] [uniqueidentifier] NOT NULL,
	[IdCustomer] [nvarchar](128) NOT NULL,
	[Active] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountType](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountType] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstSurname] [nvarchar](max) NULL,
	[SecondSurname] [nvarchar](max) NULL,
	[Gender] [bit] NOT NULL,
	[Rfc] [nvarchar](max) NULL,
	[BirthDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Card]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[Id] [uniqueidentifier] NOT NULL,
	[Nip] [nvarchar](10) NOT NULL,
	[ExpirationDate] [nvarchar](10) NOT NULL,
	[SecurityCode] [int] NOT NULL,
	[CardType] [int] NOT NULL,
	[CardNumber] [nvarchar](16) NOT NULL,
	[Active] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PreRegistration]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreRegistration](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FirstSurname] [nvarchar](50) NOT NULL,
	[SecondSurname] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[IdAccountType] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Token]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[Id] [uniqueidentifier] NOT NULL,
	[Token] [uniqueidentifier] NOT NULL,
	[Active] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 5/18/2016 9:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
	[IdSourceAccount] [uniqueidentifier] NOT NULL,
	[IdDestinationAccount] [uniqueidentifier] NOT NULL,
	[Amount] [float] NOT NULL,
	[Type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([Id], [BeginDate], [Balance], [IdAccountType], [IdCustomer], [Active]) VALUES (N'cdaf21d9-5881-40f9-aa48-803ae3bc1fd9', CAST(N'2016-05-18 19:04:02.007' AS DateTime), 2256.68, N'f6a21d99-1075-46d6-81a0-ebf7291d9b9b', N'c10ce1d7-718d-4108-ade4-f1b64ad6038e', 1)
INSERT [dbo].[Account] ([Id], [BeginDate], [Balance], [IdAccountType], [IdCustomer], [Active]) VALUES (N'b5bcec1a-afb7-48ef-a3d4-f7ca04f5b99e', CAST(N'2016-05-18 19:05:02.497' AS DateTime), 7743.32, N'f6a21d99-1075-46d6-81a0-ebf7291d9b9b', N'ab2a9104-8e9a-47ea-9814-9598c122b503', 1)
INSERT [dbo].[AccountType] ([Id], [AccountType]) VALUES (N'dbc78927-8d49-4506-b876-833989ceb2b9', 1)
INSERT [dbo].[AccountType] ([Id], [AccountType]) VALUES (N'f6a21d99-1075-46d6-81a0-ebf7291d9b9b', 0)
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'45c79d52-6ffa-4a06-a110-20044de62043', N'employee')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'5b39f271-737f-435a-92ae-13e1d6fbd687', N'moralperson')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c10ce1d7-718d-4108-ade4-f1b64ad6038e', N'45c79d52-6ffa-4a06-a110-20044de62043')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ab2a9104-8e9a-47ea-9814-9598c122b503', N'5b39f271-737f-435a-92ae-13e1d6fbd687')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c10ce1d7-718d-4108-ade4-f1b64ad6038e', N'5b39f271-737f-435a-92ae-13e1d6fbd687')
INSERT [dbo].[Card] ([Id], [Nip], [ExpirationDate], [SecurityCode], [CardType], [CardNumber], [Active]) VALUES (N'cdaf21d9-5881-40f9-aa48-803ae3bc1fd9', N'2640', N'05/19', 263, 1, N'2758892275390812', 1)
INSERT [dbo].[Card] ([Id], [Nip], [ExpirationDate], [SecurityCode], [CardType], [CardNumber], [Active]) VALUES (N'b5bcec1a-afb7-48ef-a3d4-f7ca04f5b99e', N'6366', N'05/19', 636, 1, N'6817475160778927', 1)
INSERT [dbo].[PreRegistration] ([Id], [UserName], [FirstSurname], [SecondSurname], [PhoneNumber], [Email], [IdAccountType]) VALUES (N'9266891c-5ef9-4287-aefe-b94a5bc00d97', N'JANN', N'Vazquez', N'Torres', N'6656453423', N'jufravazto@gmail.com', N'f6a21d99-1075-46d6-81a0-ebf7291d9b9b')
INSERT [dbo].[PreRegistration] ([Id], [UserName], [FirstSurname], [SecondSurname], [PhoneNumber], [Email], [IdAccountType]) VALUES (N'9266891c-5ef9-4287-aefe-b94a5bd00d97', N'JUNN', N'Vazquez', N'Torres', N'6656453423', N'junn@gmail.com', N'f6a21d99-1075-46d6-81a0-ebf7291d9b9b')
INSERT [dbo].[Token] ([Id], [Token], [Active]) VALUES (N'cdaf21d9-5881-40f9-aa48-803ae3bc1fd9', N'f0e9d75d-6aa8-404c-b25d-9bd6b242d359', 1)
INSERT [dbo].[Token] ([Id], [Token], [Active]) VALUES (N'b5bcec1a-afb7-48ef-a3d4-f7ca04f5b99e', N'd2182054-f651-475c-906b-e7cff8ff1e22', 1)
INSERT [dbo].[Transactions] ([Id], [Date], [IdSourceAccount], [IdDestinationAccount], [Amount], [Type]) VALUES (N'1e6997d3-1abf-4bf5-b381-0a1f9f5c06fb', CAST(N'2016-05-18 19:14:08.900' AS DateTime), N'b5bcec1a-afb7-48ef-a3d4-f7ca04f5b99e', N'cdaf21d9-5881-40f9-aa48-803ae3bc1fd9', 2000, 1)
INSERT [dbo].[Transactions] ([Id], [Date], [IdSourceAccount], [IdDestinationAccount], [Amount], [Type]) VALUES (N'86a3e1cc-7f7d-427a-8406-2d44cec5bafe', CAST(N'2016-05-18 19:16:32.407' AS DateTime), N'b5bcec1a-afb7-48ef-a3d4-f7ca04f5b99e', N'cdaf21d9-5881-40f9-aa48-803ae3bc1fd9', 2000, 1)
INSERT [dbo].[Transactions] ([Id], [Date], [IdSourceAccount], [IdDestinationAccount], [Amount], [Type]) VALUES (N'f386d0a2-2081-4349-b864-51aa28334183', CAST(N'2016-05-18 19:20:35.133' AS DateTime), N'b5bcec1a-afb7-48ef-a3d4-f7ca04f5b99e', N'cdaf21d9-5881-40f9-aa48-803ae3bc1fd9', 5000, 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/18/2016 9:20:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/18/2016 9:20:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/18/2016 9:20:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 5/18/2016 9:20:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/18/2016 9:20:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/18/2016 9:20:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [fk_account_accountType] FOREIGN KEY([IdAccountType])
REFERENCES [dbo].[AccountType] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [fk_account_accountType]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [fk_account_card] FOREIGN KEY([Id])
REFERENCES [dbo].[Card] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [fk_account_card]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [fk_customer_account] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [fk_customer_account]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PreRegistration]  WITH CHECK ADD  CONSTRAINT [fk_accountType_preRegistration] FOREIGN KEY([IdAccountType])
REFERENCES [dbo].[AccountType] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreRegistration] CHECK CONSTRAINT [fk_accountType_preRegistration]
GO
ALTER TABLE [dbo].[Token]  WITH CHECK ADD  CONSTRAINT [fk_token_account] FOREIGN KEY([Id])
REFERENCES [dbo].[Account] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Token] CHECK CONSTRAINT [fk_token_account]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [fk_transactionD_account] FOREIGN KEY([IdDestinationAccount])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [fk_transactionD_account]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [fk_transactionS_account] FOREIGN KEY([IdSourceAccount])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [fk_transactionS_account]
GO
USE [master]
GO
